<!DOCTYPE html>
<html lang="en" >

  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
      <title>Personality Test</title>
        <link rel="stylesheet" href="../static/style/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <!-- Start of Container 1 -->
  <body>
    <div class="container1">
      <!-- Start of Nav Bar -->
      <div class="nav-bar">
        <span><h1>January 2023 - Project 4</h1></span>
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">What is the Myers Briggs Personality Test?</a></li>
            <li><a href="{{ url_for('test') }}">Take the test!</a></li>
          </ul>
      </div>
      <!-- Start of Container -->
      <div class="container">
                <div class="description-content">
                    <h1 class="description-header">Our Purpose</h1>
                    <hr>
                    <p>Officially published in 1943, The Myers-Briggs Type Indicator Test is an introspective self-report questionnaire using different psychological preferences in how people perceive the world and make decisions. It is widely regarded and highly recognized in the scientific community. The test uses questions to assign a value to each of four categories: introversion or extraversion, sensing or intuition, thinking or feeling, and judging or perceiving.  The test then assigns a four-letter test result depending on the results. 
                    </p>
                    <p> Our goal with this project was to take the Myers-Briggs test one step further and make the test-taking process easier by allowing the test taker get their results just by inputing their Twitter username. The algorithm we’ve created will then collect the user’s previous tweets and, using a database of keywords, create a profile and assign a Myers-Briggs personality indicator to the user.</p>
                    </p>
                    <p>The information below shows all of the possible outcomes of the Myers-Briggs personality test.  Use this or the link provided to compare your results!
                    </p>
                    <a href="https://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/the-16-mbti-types.htm" class="centerize" target="_blank">Find out more about your results here!</a>
                    <br>
                    <br>
                    <img src="../static/images/mbti2.png" alt="meyersbriggs" class="description-image">
                </div>
            </div>
            <!-- End of Container -->
          </div>
        </body>
      </html>